:root,
[data-bs-theme="light"] {
  --bs-primary: #093d55;
  --bs-secondary: #979797;
  --bs-light: #e9f0f5;
  --bs-dark: #212529;
  --bs-primary-rgb: 9, 61, 85;
  --bs-secondary-rgb: 151, 151, 151;
  --bs-light-rgb: 233, 240, 245;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #035b83;
  --bs-secondary-text-emphasis: #979797;
  --bs-light-text-emphasis: #a9aaaa;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #4588a5;
  --bs-secondary-bg-subtle: rgb(189, 189, 189);
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #4588a5;
  --bs-secondary-border-subtle: #495057;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #202830;
  --bs-secondary-color: rgb(151, 151, 151);
  --bs-secondary-color-rgb: 151, 151, 151;
  --bs-secondary-bg: #6d6d6d;
  --bs-secondary-bg-rgb: 189, 189, 189;
  --bs-heading-color: inherit;
  --bs-link-color: #979797;
  --bs-link-color-rgb: 151, 151, 151;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #093d55;
  --bs-link-hover-color-rgb: 9, 61, 85;
  --bs-focus-ring-color: rgba(9, 61, 85, 0.25);
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-secondary-color: #979797;
  --bs-secondary-color-rgb: 151, 151, 151;
  --bs-secondary-bg: #6d6d6d;
  --bs-secondary-bg-rgb: 189, 189, 189;
  --bs-primary-text-emphasis: #035b83;
  --bs-secondary-text-emphasis: #979797;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #4588a5;
  --bs-secondary-bg-subtle: #bdbdbd;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #4588a5;
  --bs-secondary-border-subtle: #495057;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #202830;
  --bs-link-color: #979797;
  --bs-link-hover-color: #093d55;
  --bs-link-color-rgb: 151, 151, 151;
  --bs-link-hover-color-rgb: 9, 61, 85;
}
